# ==============================
# Environment / Secrets
# ==============================

.env


# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*$py.class


# ==============================
# Virtual Environment
# ==============================

.venv/
venv/
env/


# ==============================
# Uploaded Files
# ==============================

storage/uploads/


# ==============================
# Flask
# ==============================

instance/


# ==============================
# IDE
# ==============================

.vscode/
.idea/


# ==============================
# Operating System
# ==============================

.DS_Store
Thumbs.db


# ==============================
# Test / Coverage
# ==============================

.pytest_cache/
.coverage
htmlcov/


# ==============================
# Local Database Files
# ==============================

*.db
*.sqlite
*.sqlite3